{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<h2>Member details : {{id.f_name}} {{id.l_name}}</h2>
			<div class="table-container">
				<table class="table">
					<tbody>
						<tr>
							<td>First name : {{id.f_name}}</td>
                        </tr>
                        <tr>
							<td>Last name : {{id.l_name}}</td>
                        </tr>
                        <tr>
							<td>Member id : {{id.member_no}}</td>
                        </tr>
                        <tr>
                            <td>Phone number : {{id.phone_no}}</td>
                        </tr>
                        <tr>
                            <td>Membership expiration date : {{id.mem_exp_date}}</td>
                        </tr>
                        <tr>
                            <td>Best time to contact : {{id.reach_moment}}</td>
                        </tr>
                        <tr>
                            <td>Birth date : {{id.birth_date}}</td>
                        </tr>
                        <tr>
                            <td>E-mail : {{id.email}}</td>
                        </tr>
                        <tr>
                            <td>Donated ? : {{id.donation_ok}}</td>
                        </tr>
                        <tr>
                            <td>Last donation : {{id.last_donation}}</td>
                        </tr>
                        <tr>
                            <td>Date of last donation : {{id.date_last_donation}}</td>
                        </tr>
                        <tr>
                            <td>Election year ? : {{id.election_year}}</td>
                        </tr>
                        <tr>
                            <td>Comment : {{id.comment}}</td>
                        </tr>
                        <tr>
                            <td>Address : {{id.address}}</td>
                        </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}