{% extends "layout.html" %}
{% block content %}
    <div class="m-5">
        <p>{{id.f_name}}</p><br>
        <p>{{id.l_name}}</p><br>
        <p>{{id.member_no}}</p><br>
        <p>{{id.phone_no}}</p><br>
        <p>{{id.mem_exp_date}}</p><br>
        <p>{{id.reach_moment}}</p><br>
        <p>{{id.birth_date}}</p><br>
        <p>{{id.email}}</p><br>
        <p>{{id.last_donation}}</p><br>
        <p>{{id.date_last_donation}}</p><br>
        <p>{{id.donation_ok}}</p><br>
        <p>{{id.election_year}}</p><br>
        <p>{{id.comment}}</p><br>
        <p>{{id.address}}</p><br>
    </div>

{% endblock %}