{% extends "layout.html" %}
{% block content %}
<div class="container m-5">
	<div class="row">
		<div class="col">

			<div class="row">
				<div class="col-10">
					<h2>{{text["page_title"]}} {{id.f_name}} {{id.l_name}}</h2>
				</div>
				<div class="col">
					<a href="/modifier_membre/{{id.member_no}}">Modifier</a>
				</div>
			</div>

			<div class="table-container">
				<table class="table">
					<tbody>
						<tr>
							<td>{{text["first_name"]}} {{id.f_name}}</td>
                        </tr>
                        <tr>
							<td>{{text["last_name"]}} {{id.l_name}}</td>
                        </tr>
                        <tr>
							<td>{{text["member_id"]}} {{id.member_no}}</td>
                        </tr>
                        <tr>
                            <td>{{text["phone_no"]}} {{id.phone_no}}</td>
                        </tr>
                        <tr>
                            <td>{{text["date_membership_expiration"]}} {{id.mem_exp_date}}</td>
                        </tr>
                        <tr>
                            <td>{{text["best_time_contact"]}} {{id.reach_moment}}</td>
                        </tr>
                        <tr>
                            <td>{{text["birth_date"]}} {{id.birth_date}}</td>
                        </tr>
                        <tr>
                            <td>{{text["e-mail"]}} {{id.email}}</td>
                        </tr>
                        <tr>
                            <td>{{text["if_donation"]}} {{id.donation_ok}}</td>
                        </tr>
                        <tr>
                            <td>{{text["last_donation"]}} {{id.last_donation}}</td>
                        </tr>
                        <tr>
                            <td>{{text["date_last_donation"]}} {{id.date_last_donation}}</td>
                        </tr>
                        <tr>
                            <td>{{text["election_year"]}} {{id.election_year}}</td>
                        </tr>
                        <tr>
                            <td>{{text["comment"]}} {{id.comment}}</td>
                        </tr>
                        <tr>
                            <td>{{text["address"]}} {{id.address}}</td>
                        </tr>
						<tr>
							<td>Comité :  {{id.committee}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}