
{% extends "layout.html" %}
{% block content %}

<!-- Current page script -->
<script type="text/javascript" src="/static/js/ajouter-membre"></script>

<h2>Ajouter Membres</h2>
<!--
<form action="/envois_ajout" method='POST' onsubmit="return checkForm();">
	<label>Prénom : </label>
	<input type="text" id="first_name" name="first_name">
	<br>
	<label>Nom : </label>
	<input type="text" id="last_name" name="last_name">
	<br>
	<input type="submit" value="Submit">
</form>
-->
<div class="form_container m-5">
	<form action="/envois_ajout" method='POST' onsubmit="return checkForm();">
		<div class="form-group">
			<label>Prénom : </label>
			<input type="text" class="form-control" name="first_name" id="first_name" placeholder="Prénom">
		</div>
		<div class="form-group">
			<label>Nom : </label>
			<input type="text" class="form-control" name="last_name" id="last_name" placeholder="Nom">
		</div>
		<div class="form-group">
			<label>No de membre : </label>
			<input type="text" class="form-control" name="member_no" id="member_no" placeholder="1234567890">
		</div>
		<div class="form-group">
			<label>Téléphone : </label>
			<input type="text" class="form-control" name="phone_no" id="phone_no" placeholder="1234567890">
		</div>
		<div class="form-group">
			<label>Adresse : </label>
			<input type="text" class="form-control" name="address" id="address" placeholder="1234, boulevard des Mauvais Humeur">
		</div>

		<div class="form-group">
			<label>Email : </label>
			<input type="text" class="form-control" name="email" id="email" placeholder="addressecourriel@gmail.com">
		</div>
		<div class="form-group">
			<label>Montant du dernier don : </label>
			<input type="text" class="form-control" name="last_donation" id="last_donation" placeholder="0,00">
		</div>
		<div class="form-group">
			<label>Date du dernier don: </label>
			<input type="text" class="form-control" name="last_donation_date" id="last_donation_date" placeholder="JJ/MM/AAAA">
		</div>
		<div class="form-group">
			<label>Avez-vous faites une donation ? : </label>
			<input type="radio" name="donated" id="donated_yes" value="oui"> Oui
			<input type="radio" name="donated" id="donated_no" value="non"> Non
		</div>
		<div class="form-group">
			<label>Est-ce une année électorale ? : </label>
			<input type="radio" name="elec_year" id="elec_yes" value="oui"> Oui
			<input type="radio" name="elec_year" id="elec_no" value="non"> Non
		</div>
		<div class="form-group">
			<label>Date d'éxpiration d'adhésion</label><br>
			<input type="text" name="expiring_date" id="expiring_date" placeholder="JJ/MM/AAAA">
		</div>
		<div class="form-group">
			<label>Meilleur temp pour vous rejoindre :  </label><br>
			<input type="radio" name="matin" value="matin"> Matin
			<input type="radio" name="midi" value="midi"> Midi
			<input type="radio" name="soir" value="soir"> Soir
		</div>
		<div class="form-group">
			<label>Date de naissance : </label><br>
			<input type="text" name="date_naissance" id="date_naissance" placeholder="JJ/MM/AAAA">
		</div>
		<div class="form-group">
			<label>Commentaire / Remarque : </label><br>
			<textarea name="comment" rows="4" cols="50"></textarea>
		</div>

		<button type="reset" class="btn btn-primary">Vider</button>
		<button type="submit" class="btn btn-primary">Envoyer</button>
	</form>
    <h1>{{erreur}}</h1>
</div>

{% endblock %}

