
{% extends "layout.html" %}
{% block content %}

<!-- Current page script -->
<script type="text/javascript" src="/static/js/ajouter-membre"></script>
<script type="text/javascript" src="/static/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/static/js/custom.js"></script>

<h2>Add members</h2>

<div class="form_container m-5">
	<form action="/envois_ajout" method='POST' onsubmit="return checkForm();">

		<div class="row">
			<div class="col">

				<div class="form-group">
					<label>First name : </label>
					<input type="text" class="form-control" name="first_name" id="first_name" placeholder="Prénom">
				</div>
				<div class="form-group">
					<label>Last name : </label>
					<input type="text" class="form-control" name="last_name" id="last_name" placeholder="Nom">
				</div>
				<div class="form-group">
					<label>Member id : </label>
					<input type="text" class="form-control" name="member_no" id="member_no" placeholder="1234567890">
				</div>
				<div class="form-group">
					<label>Phone number : </label>
					<input type="text" class="form-control" name="phone_no" id="phone_no" placeholder="1234567890">
				</div>
				<div class="form-group">
					<label>Country : </label>
					<select id="country" name="country" class="form-control" width="250" style="width:250px;">
					</select>
				</div>
				<div class="form-group">
					<label>State : </label>
					<select id="province" name="province" class="form-control" width="250" style="width:250px;">
					</select>
				</div>
				<div class="form-group">
					<label>City : </label>
					<select id="city" name="city" class="form-control" width="250" style="width:250px;">
					</select>
				</div>

				<div class="form-group">
					<label>Postal code : </label>
					<input type="text" class="form-control" name="code-postal" id="code-postal" placeholder="e.g. H3P2X1">
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<label>Apartment : </label>
					<input type="text" class="form-control" name="appartement" id="appartement" placeholder="e.g. 143">
				</div>

				<div class="form-group">
					<label>E-mail : </label>
					<input type="text" class="form-control" name="email" id="email" placeholder="addressecourriel@gmail.com">
				</div>
				<div class="form-group">
					<label>Last donation : </label>
					<input type="text" class="form-control" name="last_donation" id="last_donation" placeholder="0,00">
				</div>
				<div class="form-group">
					<label>Date of last donation: </label>
					<input type="text" class="form-control" name="last_donation_date" id="last_donation_date" placeholder="JJ/MM/AAAA">
				</div>
				<div class="form-group">
					<label>Did you make a donation ? : </label>
					<input type="radio" name="donated" id="donated_null" value="" checked="checked" hidden>
					<input type="radio" name="donated" id="donated_yes" value="oui"> Yes
					<input type="radio" name="donated" id="donated_no" value="non"> No
				</div>
				<div class="form-group">
					<label>Election year ? : </label>
					<input type="radio" name="elec_year" id="elec_null" value="" checked="checked"  hidden>
					<input type="radio" name="elec_year" id="elec_yes" value="oui"> Yes
					<input type="radio" name="elec_year" id="elec_no" value="non"> No
				</div>
				<div class="form-group">
					<label>Membership expiration date</label><br>
					<input type="text" class="form-control" name="expiring_date" id="expiring_date" placeholder="JJ/MM/AAAA">
				</div>
				<div class="form-group">
					<label>Best time to contact :  </label><br>
					<input type="radio" name="reach_day" id="reach_day_null" value="" checked="checked" hidden>
					<input type="radio" name="reach_day" value="matin"> Morning
					<input type="radio" name="reach_day" value="midi"> Midday
					<input type="radio" name="reach_day" value="soir"> Evening
				</div>
				<div class="form-group">
					<label>Birth date : </label><br>
					<input type="text" class="form-control" name="birth_date" id="birth_date" placeholder="JJ/MM/AAAA">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>Comment : </label><br>
			<textarea class="form-control" name="comment" rows="4" cols="50"></textarea>
		</div>
		<button type="reset" class="btn">Reset</button>
		<button type="submit" class="btn">Submit</button>
	</form>
    <h1>{{erreur}}</h1>
</div>

{% endblock %}

