{% extends "layout.html" %}
{% block content %}
  <h1>Create an account</h1>
  {% if error %}
    <p style="color:#F00">All fields are mandatory. Please start again.</p>
  {% endif %}
  <div class="form_container m-5">
  <form action="/formulaire" method="POST">
    <div class="from-group">
    <label for="champ_username">Username</label>&nbsp;<input class="form-control" type="text" id="champ_username" name="email" maxlength="100">
    </div>
    <div class="form-group">
    <label for="champ_password">Password</label>&nbsp;<input class="form-control" type="password" id="champ_password" name="password" maxlength="40">
    </div>
    <button class="btn" type="reset">Reset</button>
    <button class="btn" type="submit">Submit</button>
  </form>
  </div>
{% endblock %}
