<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- APP THEME -->
    <link rel="stylesheet" type="text/css" href="/static/css/nightlife-theme.css">
    <!-- APP FAVICON -->
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <title>{{title}} - Atelier Politique</title>
    {% endblock %}
</head>
<body>

    <div id="header-container" style="text-align:center;">
        <h1>Atelier Politique</h1>
    </div>

    <div id="main-container">


        <div id="nav-container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    {% if lang != "english" %}
                    <div class="navbar-nav">
                      <a class="nav-item nav-link active" href="/">{{text["menu_home"]}}</a>
				      <a class="nav-item nav-link active" href="/ajouter_membre">Ajouter un membre</a>
                      <a class="nav-item nav-link active" href="/membres">Membres</a>
                      <a class="nav-item nav-link active" href="/rechercher_membre">Rechercher un membre</a>
                      <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link active" href="/language">English</a>
                      </div>
                    </div>
                    {% else %}
                    <div class="navbar-nav">
                      <a class="nav-item nav-link active" href="/">{{text["menu_home"]}}</a>
				      <a class="nav-item nav-link active" href="/ajouter_membre">Add a member</a>
                      <a class="nav-item nav-link active" href="/membres">Members</a>
                      <a class="nav-item nav-link active" href="/rechercher_membre">Search for a member</a>
                      <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link active" href="/language">Français</a>
                      </div>
                    </div>
                    {% endif %}

                </div>
            </nav>
        </div>

        <div id="page-container">
        <!-- PAGE CONTENT HERE -->
        {% block content %}{% endblock %}
        </div>

    </div>

</body>
</html>