{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<h2>Membres</h2>
			{% if members %}
			<div class="table-container">
				<table class="table">
					<thead class="thead-light">
						<tr style="border:solid;">
							<th scope="col">Prénom</th>
							<th scope="col">Nom</th>
							<th scope="col">Numéro de Membre</th>
							<th scope="col">Numéro de Téléphone</th>
							<th scope="col">Adresse</th>
							<th scope="col">Détail</th>
							<th scope="col">Supprimer</th>
						</tr>
					</thead>
					<tbody>
						{% for member in members %}
						<tr>
							<td>{{member.f_name}}</td>
							<td>{{member.l_name}}</td>
							<td>{{member.member_no}}</td>
							<td>{{member.phone_no}}</td>
							<td>{{member.address}}</td>
                            <td><a href="/afficher_membre/{{member.member_no}}">Détails</a></td>
                            <td><a href="../membres/{{member.member_no}}" style="text-decoration:none">&emsp;&emsp;&#10006;</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
