{% extends "layout.html" %}
{% block content %}
<h2>{{text["page_title"]}} {{member.f_name}} {{member.l_name}}</h2>
<div  class="container m-5">

	<form action="/envois_modification" method='POST'>

		<div class="row">
			<div class="col">

				<div class="form-group">
					<label>{{text["last_name"]}}</label>
					<input type="text" class="form-control" name="first_name" id="first_name" value="{{member.f_name}}" readonly>
				</div>
				<div class="form-group">
					<label>{{text["first_name"]}}</label>
					<input type="text" class="form-control" name="last_name" id="last_name" value="{{member.l_name}}" readonly>
				</div>
				<div class="form-group">
					<label>{{text["committee"]}}</label>
					<input type="text" class="form-control" name="committee" id="committee" value="{{member.committee}}" readonly>
				</div>
				<div class="form-group">
					<label>{{text["member_id"]}}</label>
					<input type="text" class="form-control" name="member_no" id="member_no" value="{{member.member_no}}" readonly>
				</div>
				<div class="form-group">
					<label>{{text["phone_no"]}}</label>
					<input type="text" class="form-control" name="phone_no" id="phone_no" value="{{member.phone_no}}">
				</div>

				<div class="form-group">
					<label>{{text["address"]}}</label>
					<input type="text" class="form-control" name="address" id="address" value="{{member.address}}">
				</div>


			</div>
			<div class="col">

				<div class="form-group">
					<label>{{text["e-mail"]}}</label>
					<input type="text" class="form-control" name="email" id="email" value="{{member.email}}">
				</div>

				<div class="form-group">
					<label>{{text["last_donation"]}}</label>
					<input type="text" class="form-control" name="last_donation" id="last_donation" value="{{member.last_donation}}">
				</div>
				<div class="form-group">
					<label>{{text["date_last_donation"]}}</label>
					<input type="text" class="form-control" name="last_donation_date" id="last_donation_date" value="{{member.date_last_donation}}">
				</div>
				{% if member.election_year == 'oui' %}
				<div class="form-group">
					<label>{{text["election_year"]}}</label>
					<input type="radio" name="elec_year" id="elec_yes" value="oui" checked="checked"> {{text["election_year_yes"]}}
					<input type="radio" name="elec_year" id="elec_no" value="non"> {{text["election_year_no"]}}
				</div>
				{% else %}
				<div class="form-group">
					<label>{{text["election_year"]}}</label>
					<input type="radio" name="elec_year" id="elec_yes2" value="oui"> {{text["election_year_yes"]}}
					<input type="radio" name="elec_year" id="elec_no2" value="non" checked="checked"> {{text["election_year_no"]}}
				</div>
				{% endif %}

				{% if member.donation_ok == 'oui' %}
				<div class="form-group">
					<label>{{text["make_donation"]}}</label>
					<input type="radio" name="donated" id="donated_yes" value="oui" checked="checked"> {{text["make_donation_yes"]}}
					<input type="radio" name="donated" id="donated_no" value="non"> {{text["make_donation_no"]}}
				</div>
				{% else %}
				<div class="form-group">
					<label>{{text["make_donation"]}}</label>
					<input type="radio" name="donated" id="donated_yes2" value="oui"> {{text["make_donation_yes"]}}
					<input type="radio" name="donated" id="donated_no2" value="non" checked="checked"> {{text["make_donation_no"]}}
				</div>
				{% endif %}
				<div class="form-group">
					<label>{{text["date_membership_expiration"]}}</label><br>
					<input type="text" class="form-control" name="expiring_date" id="expiring_date" value="{{member.mem_exp_date}}">
				</div>
				{% if member.reach_moment == 'matin' %}
				<div class="form-group">
					<label>{{text["best_time_contact"]}}</label><br>
					<input type="radio" name="reach_day" value="matin" checked="checked"> {{text["time_contact_morning"]}}
					<input type="radio" name="reach_day" value="midi"> {{text["time_contact_midday"]}}
					<input type="radio" name="reach_day" value="soir"> {{text[""]}}Soir
				</div>
				{% elif member.reach_moment == 'midi' %}
				<div class="form-group">
					<label>{{text["best_time_contact"]}}</label><br>
					<input type="radio" id="reach_day_morning" name="reach_day" value="matin"> {{text["time_contact_morning"]}}
					<input type="radio" name="reach_day" value="midi" checked="checked"> {{text["time_contact_midday"]}}
					<input type="radio" name="reach_day" value="soir"> {{text["time_contact_evening"]}}
				</div>
				{% else %}
				<div class="form-group">
					<label>{{text["best_time_contact"]}}</label><br>
					<input type="radio" name="reach_day" value="matin"> {{text["time_contact_morning"]}}
					<input type="radio" name="reach_day" value="midi"> {{text["time_contact_midday"]}}
					<input type="radio" name="reach_day" value="soir" checked="checked"> {{text["time_contact_evening"]}}
				</div>
				{% endif %}
				<div class="form-group">
					<label>{{text["birth_date"]}}</label><br>
					<input type="text" class="form-control" name="birth_date" id="birth_date" value="{{member.birth_date}}">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>{{text["comment"]}}</label><br>
			<textarea class="form-control" name="comment" rows="4" cols="50">{{member.comment}}</textarea>
		</div>
		<button type="reset" class="btn">{{text["btn_reset"]}}</button>
		<button type="submit" id="submit_modify" class="btn">{{text["btn_submit"]}}</button>
	</form>

</div>
{% endblock %}