{% extends "layout.html" %}
{% block content %}

<script src="/static/js/rechercher-membre"></script>
<script src="/static/js/jspdf.js" charset="utf-8"></script>
<script src="/static/js/jquery-2.2.4.min.js" charset="utf-8"></script>
<script src="/static/js/save-to-pc.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="/static/css/rechercher_membre.css">

<h2>{{text["page_title"]}}</h2>

    <div class="form-container m-5">
        <form action="/envois_recherche" method="POST" onsubmit="return checkForm();">
         	<div class="row">
         		<div class="col-2">
					<div class="form-group">
						<select class="form-control" name="search_input" id="search_input" width="200" style="width:200px;">
							<option value="first_name">{{text["first_name"]}}</option>
							<option value="last_name">{{text["last_name"]}}</option>
							<option value="member_no">{{text["member_id"]}}</option>
							<option value="phone_no">{{text["phone_no"]}}Numero du telephone</option>
							<option value="addrese">{{text["address"]}}</option>
						</select>&nbsp;&nbsp;
					</div>
				</div>
				<div class="col-6">	
					<div class="form-group">
						<input type="text" class="form-control" name="search_data" id="search_data" size="60">&nbsp;
					</div>
				</div>	
			</div>
            <button type="submit" class="btn">{{text["btn_submit"]}}</button>&nbsp;
            <button type="reset" class="btn">{{text["btn_reset"]}}</button>
        </form>
    </div>
    <div>
        <hr>
    </div>
	<div>

	</div>
    <div class="col" id="result_search">
        {% if members %}
		<button type="button" class="btn" onclick="afficherTable()">{{text["download"]}}</button>
        <h2>{{text["search_result"]}}</h2>
		<div class="table-container">
			<table class="table">
				<thead class="thead-light">
					<tr>
						<th scope="col">{{text["result_first_name"]}}</th>
						<th scope="col">{{text["result_last_name"]}}</th>
						<th scope="col">{{text["result_member_id"]}}</th>
						<th scope="col">{{text["result_phone_no"]}}</th>
						<th scope="col">{{text["result_address"]}}</th>
						<th scope="col">{{text["result_details"]}}</th>
					</tr>
				</thead>
				<tbody>
					{% for member in members %}
					<tr>
						<td>{{member.f_name}}</td>
						<td>{{member.l_name}}</td>
						<td>{{member.member_no}}</td>
						<td>{{member.phone_no}}</td>
						<td>{{member.address}}</td>
						<td><a href="/afficher_membre/{{member.member_no}}">{{text["result_member_detail"]}}</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endif %}
        {% if erreur == "error_invalid_selection" %}
		<h3>{{text[""]}}</h3>
		{% elif erreur == "no_result" %}
		<h3>{{text["no_result"]}}</h3>
		{% elif erreur == "error_invalid_data" %}
		<h3>{{text["error_invalid_data"]}}</h3>
		{% elif erreur %}
        <h3>{{erreur}}</h3>
        {% endif %}
    </div>
	<div class="col" id="result_download">
        {% if members %}
		<button type="button" class="btn" onclick="SaveToPC()">{{text["print"]}}</button>
        <h2>{{text["title_tab"]}}</h2>
		<div class="table-container">
			<table class="table" id="print">
				<thead class="thead-light">
					<tr>
						<th scope="col">{{text["member_id"]}}</th>
						<th scope="col">{{text["first_name"]}}</th>
						<th scope="col">{{text["last_name"]}}</th>
						<th scope="col">{{text["phone_no"]}}</th>
						<th scope="col">{{text["last_donation"]}}</th>
						<th scope="col">{{text["amount_donation"]}}</th>
						<th scope="col">{{text["membership_expired"]}}</th>
					</tr>
				</thead>
				<tbody>
					{% for member in members %}
					<tr>
						<td scope="col">{{member.member_no}}</td>
						<td scope="col">{{member.f_name}}</td>
						<td scope="col">{{member.l_name}}</td>
						<td scope="col">{{member.phone_no}}</td>
						<td scope="col">{{member.date_last_donation}}</td>
						<td scope="col">{{member.last_donation}}</td>
						<td scope="col" class="expired_membership">
							{% set d,m,y=member.mem_exp_date.split('/') %}
							<script>
								var temp = document.getElementsByClassName("expired_membership");
								temp = temp[temp.length - 1];
								if(beforeToday({{d}}, {{m}}, {{y}})){
									temp.innerHTML = "{{text["membership_expired_yes"]}}";
								}else{
									temp.innerHTML = "{{text["membership_expired_no"]}}";
								}
							</script>

						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endif %}
		{% if erreur == "no_result" %}
		<h3>{{text["no_result"]}}</h3>
		{% elif erreur %}
        <h3>{{erreur}}</h3>
        {% endif %}
    </div>


{% endblock %}