{% extends "layout.html" %}
{% block content %}

<h2>Rechercher un membre </h2><br>

    <div class="m-5">
        <form action="/envois_recherche" method="POST" onsubmit="return checkForm();">
            <select name="search_input" id="search_input">
                <option value="first_name">Nom</option>
                <option value="last_name">Prenom</option>
                <option value="id_no">Numero du membre</option>
                <option value="phone_no">Numero du telephone</option>
                <option value="addrese">Adresse</option>
            </select>&nbsp;&nbsp;
            <input type="text" class="" name="search_data" id="search_data" size="60">&nbsp;
            <button type="submit">Rechercher</button>&nbsp;
            <button type="reset">Vider</button>
        </form>
    </div>
    <div>
        <hr>
    </div>
    <div class="col" id="result">
        {% if members %}
        <h2>Result recherche</h2>
		<div class="table-container">
			<table class="table">
				<thead class="thead-light">
					<tr>
						<th scope="col">Prénom</th>
						<th scope="col">Nom</th>
						<th scope="col">Numéro de Membre</th>
						<th scope="col">Numéro de Téléphone</th>
						<th scope="col">Adresse</th>
						<th scope="col">Détails</th>
					</tr>
				</thead>
				<tbody>
					{% for member in members %}
					<tr>
						<td>{{member.f_name}}</td>
						<td>{{member.l_name}}</td>
						<td>{{member.member_no}}</td>
						<td>{{member.phone_no}}</td>
						<td>{{member.address}}</td>
						<td><a href="/afficher_membre/{{member.id}}">Voir détails</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endif %}
        {% if erreur %}
        <h3>{{erreur}}</h3>
        {% endif %}
    </div>


{% endblock %}